@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  --font: "Kumbh Sans", sans-serif;
  --orange: hsl(26, 100%, 55%);
  --pale-orange: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --black-transparent: hsla(hsl(0, 0%, 0%, 0.75));
  --border-color: hsla(219, 35%, 92%, 1);
}

/* CSS Reset */

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */

html {
  font-size: 62.5%;
}

body {
  color: hsl(220, 13%, 13%);
  font-family: var(--font);
  font-size: 1.6rem;
  line-height: 2rem;
  font-weight: 400;
  width: min(100%, 144rem);
  margin-inline: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
}

img,
svg {
  display: block;
}

ul {
  list-style: none;
}

/* Header */

.header {
  padding: 1.9rem 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation-wrapper,
.cart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-wrapper {
  gap: 1.5rem;
}

.cart-wrapper {
  gap: 2.25rem;
}

.navigation {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: var(--white);
  transform: translateX(-100%);
}

.user-avatar {
  width: 2.4rem;
}

/* Main */

.product-image-wrapper {
  width: min(100%, 37.5rem);
  height: 30rem;
  position: relative;
}

.product-image {
  width: 100%;
  height: 100%;
}

.arrow-button {
  width: 4rem;
  height: 4rem;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  top: 43.333%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previous {
  left: 1.5rem;
}

.next {
  right: 1.5rem;
}

.arrow-icon {
  width: 1rem;
}

.product-details {
  margin: 2.4rem;
}

.product-brand {
  color: var(--orange);
  font-size: 1.2rem;
  line-height: 1.5rem;
  letter-spacing: 1.84615px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-name {
  font-size: 2.8rem;
  line-height: 3.2rem;
  font-weight: 700;
  width: min(100%, 25rem);
  margin: 1.9rem 0 1.5rem;
  color: var(--very-dark-blue);
}

.product-description {
  color: var(--dark-grayish-blue);
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.product-price-details {
  margin-top: 2.4rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.product-price-sale {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1.6rem;
  font-weight: 700;
}

.product-price-value {
  font-size: 2.8rem;
  line-height: 3.5rem;
  color: var(--very-dark-blue);
}

.product-price-discount {
  display: block;
  background-color: var(--pale-orange);
  color: var(--orange);
  border-radius: 6px;
  padding: 0.7rem 0.8rem 0.4rem;
  font-weight: 700;
}

.product-price-original {
  color: var(--grayish-blue);
  text-decoration: line-through;
  font-weight: 700;
  line-height: 2.6rem;
}

.qty-select {
  margin: 2.4rem 0 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.1rem 2.4rem 1.8rem;
  background-color: var(--light-grayish-blue);
  border-radius: 10px;
}

.product-qty {
  font-weight: 700;
  color: var(--very-dark-blue);
}

.add-to-cart {
  width: 100%;
  background-color: var(--orange);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.55rem;
  padding: 1.9rem 2rem 1.8rem;
  border-radius: 10px;
  box-shadow: 0px 2rem 5rem -2rem var(--orange);
  font-weight: 700;
  margin-bottom: 8.8rem;
}

.add-to-cart-btn-icon {
  width: 1.8rem;
  height: 1.6rem;
}

.cart-icon {
  fill: var(--white);
}

/* Footer */

.attribution {
  font-size: 1.1rem;
  text-align: center;
}

.attribution a {
  color: var(--orange);
  text-decoration: none;
}

.attibution a:hover {
  text-decoration: underline;
}

/* Media Queries */
@media screen and (min-width: 376px) {
  /* Header */

  .header {
    width: min(77%, 111rem);
    padding: 0 0 3.4rem 0;
    margin: 2.8rem auto 0;
    border-bottom: 1px solid var(--border-color);
  }

  .navigation-wrapper {
    gap: 5.65rem;
  }

  .menu-btn {
    display: none;
  }

  .navigation {
    position: static;
    width: auto;
    height: auto;
    background-color: none;
    transform: translateX(0);
  }

  .nav-links {
    display: flex;
    gap: 3.2rem;
  }

  .nav-link {
    font-size: 1.5rem;
    line-height: 2.6rem;
    text-decoration: none;
    color: var(--dark-grayish-blue);
  }

  .cart-wrapper {
    gap: 4.6rem;
  }

  .user-avatar {
    width: 5rem;
  }

  /* Main */

  .main {
    width: min(100%, 101.5rem);
    margin: 9rem auto 13.2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12.5rem;
    justify-content: space-between;
  }

  .product-image-wrapper {
    width: min(100%, 44.5rem);
    height: auto;
    position: relative;
  }

  .product-image {
    width: 100%;
    height: auto;
    border-radius: 15px;
  }

  .thumbnails-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 3.2rem;
  }

  .thumbnail-wrapper {
    width: 8.8rem;
    height: 8.8rem;
    border-radius: 10px;
    overflow: hidden;
  }

  .thumbnail-image {
    width: 100%;
  }

  .arrow-button {
    display: none;
  }

  .product-details {
    margin: 6.2rem 0 0 0;
  }

  .product-brand {
    color: var(--orange);
    font-size: 1.3rem;
    line-height: 1.6rem;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .product-name {
    font-size: 4.4rem;
    line-height: 4.8rem;
    font-weight: 700;
    width: 100%;
    margin: 2.7rem 0 3.2rem;
  }

  .product-description {
    font-size: 1.6rem;
    line-height: 2.6rem;
  }

  .product-price-details {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
  }

  .add-to-cart-wrapper {
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    gap: 1.6rem;
  }

  .qty-select {
    margin: 0;
    width: min(100%, 15.7rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.1rem 2.4rem 1.8rem;
  }

  .add-to-cart {
    width: min(100%, 27.2rem);
    margin-bottom: 0;
  }

  .add-to-cart-btn-icon {
    width: 1.8rem;
    height: 1.6rem;
  }

  .cart-icon {
    fill: var(--white);
  }
}
